<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
                     
<appender name="fileAppender" class="org.apache.log4j.RollingFileAppender">
	<param name ="datePattern" value="'.'yyyy-MM-dd" />
	<param name="file" value="/jboss_logs/ICSPortal.log" />
	<param name="maxFileSize" value="30MB" />
	<param name="maxBackupIndex" value="20" />
	<layout class="org.apache.log4j.PatternLayout" >
		<param name="ConversionPattern" value="%d{yyyy-MMM-dd HH:mm:ss,SSS} %p - %m%n" />
	</layout>
</appender>
 <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{yyyy-MMM-dd HH:mm:ss,SSS} %p - %m%n"/> 
    </layout> 
  </appender>                    
<root>
	<priority value="DEBUG" />
	<appender-ref ref="fileAppender" />
	<appender-ref ref="console" /> 
</root>                     
</log4j:configuration>