<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mx.com.icsp.action.persistence.dao.AssetDao">
	<resultMap type="mx.com.icsc.common.Asset" id="Asset"/>
	<resultMap type="mx.com.icsc.common.User" id="User"/>
	<resultMap type="mx.com.icsc.common.Material" id="Material"/>
	<resultMap type="mx.com.icsc.common.Color" id="Color"/>
	<resultMap type="mx.com.icsc.common.AssetType" id="AssetType"/>
	<resultMap type="mx.com.icsc.common.Ledger" id="Ledger"/>
</mapper>